# First attempts with Dimensions

The idea of this notebook is to find a reliable way to request data from dimensions API. The focus lies on connecting individual authors, i.e., mapping **Scopus AuthorID** on Dimensions **ResearcherID**.

## 1 Packages and paths

In [1]:
# Import packages
import pandas as pd
import numpy as np
import requests
import os
from dotenv import load_dotenv

In [5]:
# Set the paths correctly
cwd_path = os.getcwd()
raw_data_path = os.path.join(cwd_path, "..", "raw_data")
dotenv_path = os.path.join(cwd_path, "..", ".env")
dotenv_path

'/Users/lars/code/prinzpoker/uspto/notebooks/../.env'

In [6]:
# Import dimensions credentials
load_dotenv(dotenv_path)

True

In [9]:
# Store credentials
DIM_API_KEY = os.getenv("DIM_API_KEY")
DIM_USERNAME = os.getenv("DIM_USERNAME")
DIM_USERNAME

'lars.herberholz@kit.edu'

In [8]:
pd.read_csv(os.path.join(raw_data_path, "test.csv")).head(5)

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [ ]:
# The credentials to be used
login = {
    'key': "your API key"
}

#   Send credentials to login url to retrieve token. Raise
#   an error, if the return code indicates a problem.
#   Please use the URL of the system you'd like to access the API
#   in the example below.
resp = requests.post('https://<your-url.dimensions.ai>/api/auth', json=login)
resp.raise_for_status()

#   Create http header using the generated token.
headers = {
    'Authorization': "JWT " + resp.json()['token']
}

#   Execute DSL query.
resp = requests.post(
    'https://<your-url.dimensions.ai>/api/dsl/v2',
    data='search publications return publications'.encode(),
    headers=headers)

#   Display raw result
print(resp.json())