In [2]:
import pandas as pd
import csv

In [3]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

# Melero approach

## PatEx - USPTO
PatEx data are generally representative of the population of patent applications filed in the United States after November 2000 across observable characteristics.

Different Data sets (we concentrate on three: application_data; all_inventors; status_codes)

### application_data

In [3]:
df_application = pd.DataFrame()
df_application = pd.read_csv("C:/Users/Lucas/MA/Bulk Data Products/Bulk Data Storage System (BDSS)/Patent Examination Research Dataset (PatEx)/application_data.csv", delimiter = ",")

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,1,3,4,5,6,8,9,10,11,12,13,14,16,17,18,19,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df_application.head()

,application_number,filing_date,application_invention_type,examiner_full_name,examiner_art_unit,uspc_class,uspc_subclass,confirm_number,atty_docket_number,appl_status_desc,appl_status_date,file_location,file_location_date,earliest_pgpub_number,earliest_pgpub_date,wipo_pub_number,wipo_pub_date,patent_number,patent_issue_date,invention_title,small_entity_indicator,aia_first_to_file
0,04453098,NaN,NaN,"LATEEF, MARVIN M",2106,338,254000,6933.0,NaN,Patented File - (Old Case Added for File Track...,1983-12-28,FILE REPOSITORY (FRANCONIA),1986-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDISCOUNTED,NaN
1,04544040,NaN,NaN,"GLUCK, RICHARD E",3403,417,353000,9431.0,NaN,Patented File - (Old Case Added for File Track...,1983-08-22,FILE REPOSITORY (FRANCONIA),1999-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDISCOUNTED,NaN
2,04577552,NaN,NaN,"LOOK, EDWARD K",3401,060,053000,1435.0,NaN,Patented File - (Old Case Added for File Track...,1984-02-21,FILE REPOSITORY (FRANCONIA),2008-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDISCOUNTED,NaN
3,04578318,NaN,NaN,"HOWELL, DANIEL W",3722,409,163000,1455.0,NaN,ABANDONED - RESTORED,1988-01-28,FILE REPOSITORY (FRANCONIA),2016-11-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDISCOUNTED,NaN
4,04589018,NaN,Utility,"NOT, DEFINED",2401,220,271000,1808.0,NaN,Patented Case,1980-01-15,FILE REPOSITORY (FRANCONIA),1995-09-06,NaN,NaN,NaN,NaN,4183442,1980-01-15,NaN,UNDISCOUNTED,NaN

In [6]:
df_application.shape

(16514638, 22)

'>16 Mio. -> Reducing data: appl_status_date: 2000-01-01 bis 2016-01-01
 & only type "Utility" (see Melero)

In [4]:
df2_application = pd.DataFrame()
df2_application = df_application.loc[(df_application["filing_date"] > '2000-12-31') & (df_application["filing_date"] <= '2015-12-31'),:]
df2_application = df2_application.loc[df2_application["application_invention_type"]=="Utility",:]

In [9]:
df2_application.shape

(7083173, 22)

Which columns are useless? -> "invention_title"; "small_entity_indicator" ; "wipo_pub_date"; "wipo_pub_number"

In [6]:
df2_application.drop(columns = {"invention_title", "small_entity_indicator", "wipo_pub_date", "wipo_pub_number"}, inplace = True)

### all_inventors

In [28]:
df_inventors = pd.DataFrame()
df_inventors = pd.read_csv("C:/Users/Lucas/MA/Bulk Data Products/Bulk Data Storage System (BDSS)/Patent Examination Research Dataset (PatEx)/all_inventors.csv", delimiter = ",")

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [30]:
df_inventors.head()

,application_number,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_city_name,inventor_region_code,inventor_country_code
0,04840815,WILLIAM,D.,SCHAEFFER,1,POMONA,CA,US
1,05434252,HERMAN,NaN,LEVIN,1,GLENVIEW,IL,US
2,05434252,ERIC,K.,MAXON,2,EVANSTON,IL,US
3,05603052,AGIS,F.,KYDONIEUS,1,NEW YORK,NY,US
4,05823902,WILLIAM,G.,HECKENHAUER,1,BUCYRUS,OH,US

In [27]:
df_inventors["application_number"]= df_inventors["application_number"].astype("string")

NameError: name 'df_inventors' is not defined

In [13]:
df_inventors.shape

(30768185, 8)

Reducing: Not possible

### merge PatEx

In [9]:
df_patex = pd.DataFrame()
df_patex = pd.merge(df_inventors, df2_application, left_on = "application_number", right_on = "application_number")

In [15]:
df_patex.shape

(13053572, 25)

In [153]:
df_patex.head()

,application_number,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_city_name,inventor_region_code,inventor_country_code,filing_date,application_invention_type,examiner_full_name,examiner_art_unit,uspc_class,uspc_subclass,confirm_number,atty_docket_number,appl_status_desc,appl_status_date,file_location,file_location_date,earliest_pgpub_number,earliest_pgpub_date,patent_number,patent_issue_date,aia_first_to_file
0,09160474,JACEK,MICHAL,MISIURA,1,QUEENSLAND,NaN,AU,NaN,Utility,"PHAM, HOA Q",2877,356,364000,6398.0,DREDGE98-05.,Abandoned -- Failure to Respond to an Office A...,2001-08-06,FILE REPOSITORY (FRANCONIA),2018-08-07,NaN,NaN,NaN,NaN,NaN
1,08622214,GREGORY,NaN,CLARK,1,WESTON,CT,US,NaN,Utility,"PAYER, HWEI-SIU C",3724,030,049000,1918.0,NaN,Abandoned -- File-Wrapper-Continuation Parent ...,2001-04-11,NaN,2001-04-11,NaN,NaN,NaN,NaN,NaN
2,09308288,LUTZ,NaN,CLAES,1,NaN,NaN,CH,NaN,Utility,"WOO, JULIAN W",3731,606,063000,5966.0,8932-120,Abandoned -- Incomplete (Filing Date Under Rul...,2001-09-23,FILE REPOSITORY (FRANCONIA),2018-07-11,NaN,NaN,NaN,NaN,NaN
3,09380028,KAZUAKI,NaN,FUKUOKA,1,NaN,NaN,JP,NaN,Utility,"LILLING, HERBERT J",1651,424,195100,2072.0,63816,Abandoned -- Failure to Respond to an Office A...,2001-06-01,FILE REPOSITORY (FRANCONIA),2018-08-07,NaN,NaN,NaN,NaN,NaN
4,09403819,JOHN,MICHAEL,CORBETT,1,NEW SOUTH WALES,NaN,AU,NaN,Utility,"LACOURCIERE, KAREN A",1635,435,091100,7731.0,U 012475-7,Abandoned -- Failure to Respond to an Office A...,2001-05-24,FILE REPOSITORY (FRANCONIA),2018-07-10,NaN,NaN,NaN,NaN,NaN

## Patentsview

### application 
preGrant-Application

In [3]:
df3_application = pd.DataFrame()
df3_application = pd.read_csv("C:/Users/Lucas/MA/Bulk Data Products/Patentsview/application_PreGrant.tsv", delimiter = "\t")

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [20]:
df3_application.head()

,id,document_number,type,application_number,date,country,series_code,invention_title,invention_abstract,rule_47_flag,filename
0,0000021c-ccf9-11ea-ba95-121df0c29c1e,20100070354,utility,12412361,2009-03-27,US,12,SYSTEM AND METHOD FOR A MERCHANT DEBIT CARD PR...,A merchant debit card program is described tha...,False,ipa100318.xml
1,00001b62-f3c4-11eb-b0cf-121df0c29c1e,20210172812,utility,16623118,2018-04-20,US,16,"ENERGY CONVERTER, VIBRATION POWER GENERATOR, F...",An energy converter is formed by bonding a sol...,False,NaN
2,00004fba-ccf9-11ea-ba95-121df0c29c1e,20100070355,utility,12623189,2009-11-20,US,12,Methods for Transmitting Multimedia Files and ...,The invention is directed to a method of trans...,False,ipa100318.xml
3,0000525a-ccf9-11ea-ba95-121df0c29c1e,20100070356,utility,12516762,2007-09-19,US,12,METHOD AND SYSTEM OF SALES PROMOTION,A method of sales promotion using a networked ...,False,ipa100318.xml
4,00007a2d-ccf9-11ea-ba95-121df0c29c1e,20100070357,utility,12334277,2008-12-12,US,12,INCENTIVE BASED MARKETING THROUGH SOCIAL NETWORKS,A method and system for providing an incentive...,False,ipa100318.xml

In [12]:
df3_application["application_number"] = df3_application["application_number"].astype("string")

### assignee & publication_assignee

In [13]:
df_assignee = pd.DataFrame()
df_assignee = pd.read_csv("C:/Users/Lucas/MA/Bulk Data Products/Patentsview/assignee.tsv", delimiter="\t")

In [14]:
df_assignee.head()

,id,type,name_first,name_last,organization
0,00002ded-cef9-4c06-ad0c-0fee8891a8ed,2.0,NaN,NaN,"Butterick Company, Inc."
1,00002ed6-a81c-4adf-afa3-e91961107dca,3.0,NaN,NaN,Conros Corporation
2,000055d3-0d65-4d07-8d0a-8939b578b0e1,3.0,NaN,NaN,Chungbuk National University
3,0000591f-7548-49ee-a4ae-fca3b0c10b1c,3.0,NaN,NaN,TELEVIC CONFERENCE NV
4,00007585-cd5c-46d6-96ea-09042748a550,3.0,NaN,NaN,ACES INGENIEURGESELLSCHAFT MBH

Reduce assignees -> Only University

In [15]:
df2_assignee = pd.DataFrame()
df2_assignee = df_assignee.loc[(df_assignee["organization"].str.contains("University") ==True) |(df_assignee["organization"].str.contains("UNIVERSITY") ==True)|(df_assignee["organization"].str.contains("Faculty") ==True) | (df_assignee["name_first"].str.contains("University")==True) | (df_assignee["name_first"].str.contains("UNIVERSITY")==True) | (df_assignee["name_last"].str.contains("University")==True) | (df_assignee["name_last"].str.contains("UNIVERSITY")==True) ,:]

In [20]:
df2_assignee.head()

,id,type,name_first,name_last,organization
2,000055d3-0d65-4d07-8d0a-8939b578b0e1,3.0,NaN,NaN,Chungbuk National University
109,000f1730-c563-4dcf-b14e-257093c523fb,NaN,NaN,NaN,The Ohiio State University Research Foundation
221,001b46be-be17-429c-9ed9-5e07acc0e2ad,3.0,NaN,NaN,ZHONGKAI UNIVERSITY OF AGRICULTURE AND ENGINEER
263,0020f5ec-7144-4a26-949b-f89e1b86872e,2.0,NaN,NaN,University of Tennesseee Research Foundation
288,0023bcd6-ffbc-4423-9507-32b97f9d88c1,3.0,NaN,NaN,University of Shanghai for Science and Technology

In [21]:
df2_assignee.shape

(4829, 5)

In [16]:
df_publication_assignee = pd.DataFrame()
df_publication_assignee = pd.read_csv("C:/Users/Lucas/MA/Bulk Data Products/Patentsview/publication_assignee.tsv", delimiter="\t")

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
df_publication_assignee.head()

,document_number,assignee_id,sequence,location_id
0,20050000014,2da62f97-01de-4da0-a945-87f4ebf0dd6a,1,f54d6149-cb8e-11eb-9615-121df0c29c1e
1,20050000023,03aa96b7-46eb-4f8e-b90e-906cdbcc08bb,1,cfe77bc3-cb8e-11eb-9615-121df0c29c1e
2,20050000025,0982f119-65f7-4662-802f-74f5d28d6082,1,d6338035-cb8e-11eb-9615-121df0c29c1e
3,20050000029,a9777969-6389-4729-9045-949ce0b2006b,1,3cb80671-cb8e-11eb-9615-121df0c29c1e
4,20050000031,a9777969-6389-4729-9045-949ce0b2006b,1,3cb80671-cb8e-11eb-9615-121df0c29c1e

### Merge Patentsview

In [1]:
df_patentsview = pd.DataFrame()
df_patentsview = pd.merge(df3_application, df_publication_assignee, left_on ="document_number",right_on = "document_number")

NameError: name 'pd' is not defined

In [27]:
df_patentsview.head()

,id,document_number,type,application_number,date,country,series_code,invention_title,invention_abstract,rule_47_flag,filename,assignee_id,sequence,location_id
0,0000021c-ccf9-11ea-ba95-121df0c29c1e,20100070354,utility,12412361,2009-03-27,US,12,SYSTEM AND METHOD FOR A MERCHANT DEBIT CARD PR...,A merchant debit card program is described tha...,False,ipa100318.xml,8627328a-b3ad-41d0-9a65-292da36aa366,1,f9139cb2-cb8f-11eb-9615-121df0c29c1e
1,00001b62-f3c4-11eb-b0cf-121df0c29c1e,20210172812,utility,16623118,2018-04-20,US,16,"ENERGY CONVERTER, VIBRATION POWER GENERATOR, F...",An energy converter is formed by bonding a sol...,False,NaN,68360f1f-9ba5-4f86-8463-5fd48de70a81,1,NaN
2,00001b62-f3c4-11eb-b0cf-121df0c29c1e,20210172812,utility,16623118,2018-04-20,US,16,"ENERGY CONVERTER, VIBRATION POWER GENERATOR, F...",An energy converter is formed by bonding a sol...,False,NaN,b0282278-f579-405a-a37e-6dca490b7b86,2,NaN
3,00004fba-ccf9-11ea-ba95-121df0c29c1e,20100070355,utility,12623189,2009-11-20,US,12,Methods for Transmitting Multimedia Files and ...,The invention is directed to a method of trans...,False,ipa100318.xml,5ec9b9e8-545a-4505-bde2-a04fb02c9d07,1,fd10d2b1-cb8e-11eb-9615-121df0c29c1e
4,00007a2d-ccf9-11ea-ba95-121df0c29c1e,20100070357,utility,12334277,2008-12-12,US,12,INCENTIVE BASED MARKETING THROUGH SOCIAL NETWORKS,A method and system for providing an incentive...,False,ipa100318.xml,b0e41602-d133-4b02-9566-e03b1fdb55ae,1,ffc9f8bd-cb8e-11eb-9615-121df0c29c1e

In [22]:
df_patentsview = pd.merge(df_patentsview,df2_assignee, left_on = "assignee_id", right_on = "id")

In [23]:
df_patentsview.head()

,id_x,document_number,type_x,application_number,date,country,series_code,invention_title,invention_abstract,rule_47_flag,filename,assignee_id,sequence,location_id,id_y,type_y,name_first,name_last,organization
0,00001b62-f3c4-11eb-b0cf-121df0c29c1e,20210172812,utility,16623118,2018-04-20,US,16,"ENERGY CONVERTER, VIBRATION POWER GENERATOR, F...",An energy converter is formed by bonding a sol...,False,NaN,68360f1f-9ba5-4f86-8463-5fd48de70a81,1,NaN,68360f1f-9ba5-4f86-8463-5fd48de70a81,3.0,NaN,NaN,Tohoku University
1,00395242-cd0a-11ea-ba95-121df0c29c1e,20100154213,utility,12589849,2009-10-28,US,12,Method for forming copper interconnection stru...,A method for forming a copper interconnection ...,False,ipa100624.xml,68360f1f-9ba5-4f86-8463-5fd48de70a81,1,f590327b-cb90-11eb-9615-121df0c29c1e,68360f1f-9ba5-4f86-8463-5fd48de70a81,3.0,NaN,NaN,Tohoku University
2,007641a5-cd0a-11ea-ba95-121df0c29c1e,20100155951,utility,12589852,2009-10-29,US,12,Copper interconnection structure and method fo...,A copper interconnection structure includes an...,False,ipa100624.xml,68360f1f-9ba5-4f86-8463-5fd48de70a81,1,f590327b-cb90-11eb-9615-121df0c29c1e,68360f1f-9ba5-4f86-8463-5fd48de70a81,3.0,NaN,NaN,Tohoku University
3,00765e10-cd0a-11ea-ba95-121df0c29c1e,20100155952,utility,12589949,2009-10-30,US,12,Copper interconnection structures and semicond...,A copper interconnection structure includes an...,False,ipa100624.xml,68360f1f-9ba5-4f86-8463-5fd48de70a81,1,f590327b-cb90-11eb-9615-121df0c29c1e,68360f1f-9ba5-4f86-8463-5fd48de70a81,3.0,NaN,NaN,Tohoku University
4,0079fa84-bcfa-11ea-8a73-121df0c29c1e,20140212889,utility,14342829,2012-09-04,US,14,METHOD FOR STAINING TISSUE,It is an object of the present invention to pr...,False,ipa140731.xml,68360f1f-9ba5-4f86-8463-5fd48de70a81,1,f590327b-cb90-11eb-9615-121df0c29c1e,68360f1f-9ba5-4f86-8463-5fd48de70a81,3.0,NaN,NaN,Tohoku University

In [18]:
df_patentsview["application_number"] = df_patentsview["application_number"].astype("string")

In [27]:
df_patentsview.shape

(95324, 19)

# Merge both data sets

In [24]:
df_patent = pd.DataFrame()
df_patent = pd.merge(df_patex, df_patentsview, left_on = "application_number", right_on="application_number" )

In [25]:
df_patent.head()

,application_number,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_city_name,inventor_region_code,inventor_country_code,filing_date,application_invention_type,examiner_full_name,examiner_art_unit,uspc_class,uspc_subclass,confirm_number,atty_docket_number,appl_status_desc,appl_status_date,file_location,file_location_date,earliest_pgpub_number,earliest_pgpub_date,patent_number,patent_issue_date,aia_first_to_file,id_x,document_number,type_x,date,country,series_code,invention_title,invention_abstract,rule_47_flag,filename,assignee_id,sequence,location_id,id_y,type_y,name_first,name_last,organization
0,10006305,Charles,E.,Prussak,1,San Diego,CA,US,2001-12-06,Utility,"GAMBEL, PHILLIP",1644,536,023400,1335.0,ST-UCSD3140,Patent Expired Due to NonPayment of Maintenanc...,2018-10-08,ELECTRONIC,NaN,US20050048476A1,2005-03-03,7786282,2010-08-31,false,935577f7-d1bb-11ea-ba95-121df0c29c1e,20050048476,utility,2001-12-06,US,10,Novel chimeric TNF ligands,The present invention is directed to an isolat...,False,ipa050303.xml,6e3f9d3e-9b11-4d09-9796-42bc2d7290ff,1,3cb80671-cb8e-11eb-9615-121df0c29c1e,6e3f9d3e-9b11-4d09-9796-42bc2d7290ff,2.0,NaN,NaN,The Regents of the University of California
1,10006305,Thomas,J.,Kipps,2,Rancho Santa Fe,CA,US,2001-12-06,Utility,"GAMBEL, PHILLIP",1644,536,023400,1335.0,ST-UCSD3140,Patent Expired Due to NonPayment of Maintenanc...,2018-10-08,ELECTRONIC,NaN,US20050048476A1,2005-03-03,7786282,2010-08-31,false,935577f7-d1bb-11ea-ba95-121df0c29c1e,20050048476,utility,2001-12-06,US,10,Novel chimeric TNF ligands,The present invention is directed to an isolat...,False,ipa050303.xml,6e3f9d3e-9b11-4d09-9796-42bc2d7290ff,1,3cb80671-cb8e-11eb-9615-121df0c29c1e,6e3f9d3e-9b11-4d09-9796-42bc2d7290ff,2.0,NaN,NaN,The Regents of the University of California
2,10006305,Mark,J.,Cantwell,3,San Diego,CA,US,2001-12-06,Utility,"GAMBEL, PHILLIP",1644,536,023400,1335.0,ST-UCSD3140,Patent Expired Due to NonPayment of Maintenanc...,2018-10-08,ELECTRONIC,NaN,US20050048476A1,2005-03-03,7786282,2010-08-31,false,935577f7-d1bb-11ea-ba95-121df0c29c1e,20050048476,utility,2001-12-06,US,10,Novel chimeric TNF ligands,The present invention is directed to an isolat...,False,ipa050303.xml,6e3f9d3e-9b11-4d09-9796-42bc2d7290ff,1,3cb80671-cb8e-11eb-9615-121df0c29c1e,6e3f9d3e-9b11-4d09-9796-42bc2d7290ff,2.0,NaN,NaN,The Regents of the University of California
3,10032256,Lewis,A.,Chodosh,1,West Chester,PA,US,2001-12-21,Utility,"FETTEROLF, BRANDON J",1642,435,007230,6641.0,UOP-478US,Patented Case,2006-09-20,ELECTRONIC,NaN,US20050186668A1,2005-08-25,7119185,2006-10-10,false,49bbe5c3-d1cc-11ea-ba95-121df0c29c1e,20050186668,utility,2001-12-21,US,10,"HORMONALLY UP-REGULATED, NEU-TUMOR-ASSOCIATED ...",This invention relates generally to a novel se...,False,ipa050825.xml,614c1e6f-396a-4760-b7e6-5e3edca1ca8a,1,d08d8cec-cb90-11eb-9615-121df0c29c1e,614c1e6f-396a-4760-b7e6-5e3edca1ca8a,2.0,NaN,NaN,The Trustees of the University of Pennsylvania
4,10032256,Heather,P.,Gardner,2,Palo Alto,CA,US,2001-12-21,Utility,"FETTEROLF, BRANDON J",1642,435,007230,6641.0,UOP-478US,Patented Case,2006-09-20,ELECTRONIC,NaN,US20050186668A1,2005-08-25,7119185,2006-10-10,false,49bbe5c3-d1cc-11ea-ba95-121df0c29c1e,20050186668,utility,2001-12-21,US,10,"HORMONALLY UP-REGULATED, NEU-TUMOR-ASSOCIATED ...",This invention relates generally to a novel se...,False,ipa050825.xml,614c1e6f-396a-4760-b7e6-5e3edca1ca8a,1,d08d8cec-cb90-11eb-9615-121df0c29c1e,614c1e6f-396a-4760-b7e6-5e3edca1ca8a,2.0,NaN,NaN,The Trustees of the University of Pennsylvania

In [26]:
df_patent.shape

(230057, 43)

In [42]:
df_patent.to_csv("PreGrant_applications.csv", index=False)